<app-nav></app-nav>

<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh; background-color: #f2f2f2;">
  <div class="container col-md-6 p-4 rounded shadow bg-white">
    <div class="text-center mb-4">
      <img src="../../../../../assets/logo futbolista.webp" alt="Imagen" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
      <h3 class="mt-3"><b>Crear Equipo</b></h3>
    </div>
    <form (submit)="crearEquipo()" class="d-flex flex-column">
      <div class="mb-3">
        <label for="nombre" class="form-label"><b>Nombre del Equipo</b></label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="equipo.nombre" name="nombre" required>
      </div>
      <div class="mb-3">
        <label for="dir_deportivo" class="form-label"><b>Director Técnico</b></label>
        <input type="text" class="form-control" id="dir_deportivo" [(ngModel)]="equipo.dir_deportivo" name="dir_deportivo" required>
      </div>
      <div class="mb-3">
        <label for="estadio_id" class="form-label"><b>Estadio</b></label>
        <input type="text" class="form-control" id="estadio_id" [(ngModel)]="equipo.estadio_id" name="estadio_id">
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
        <div>
          <button type="button" class="btn btn-danger btn-sm" (click)="cancelar()">Cancelar</button>
          <button type="button" class="btn btn-secondary btn-sm" (click)="regresar()">Atrás</button>
        </div>
      </div>
    </form>
  </div>
</div>
