<app-nav></app-nav>
<div class="ms-5 mt-4">
  <button class="btn btn-primary" routerLink="/division/Crear">Crear</button>
</div>
<table class="table mt-3 ms-3 me-3">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nivel</th>
      <th scope="col">Liga</th>
      <th scope="col">Acciones</th> <!-- Agregado el encabezado de Acciones -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let division of divisiones">
      <td><b>{{ division.nivel }}</b></td>
      <td>{{ division.liga }}</td>
      <td>
        <div class="mx-3 ">
          <button class="btn btn-primary me-4">Editar</button>
          <button class="btn btn-danger">Eliminar</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
