<app-nav></app-nav>
<div class="d-flex align-items-center justify-content-center" style="height: 70vh;">
  <div class="container col-md-6">
    <div class="text-center mb-4">
      <img src="../../../../../../assets/logo futbolista.webp" alt="Imagen" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
    </div>
    <form (submit)="crearDivision()" class="d-flex flex-column">
      <div class="form-group">
        <label for="nivel"><b>Nivel</b></label>
        <input type="number" class="form-control" id="nivel" [(ngModel)]="division.nivel" name="nivel" required>
      </div>
      <div class="form-group">
        <label for="liga"><b>Liga</b></label>
        <input type="text" class="form-control" id="liga" [(ngModel)]="division.liga" name="liga" required>
      </div>
      <div class="d-flex justify-content-init">
        <button type="submit" class="btn btn-primary btn-sm mr-2">Guardar</button>

      </div>
      <div class="d-flex justify-content-end"> <!-- Mueve los botones a la derecha -->
        
        <button type="button" class="btn btn-danger btn-sm mr-2" (click)="cancelar()">Cancelar</button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="regresar()">Atrás</button>
      </div>
    </form> 
  </div>
</div>
